<div class="container">
  <h2>Category</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Department</th>
    </tr>
    </thead>
    <tbody>
    <!--  <tr *ngFor="let id of listCategory">-->
    <!--    <td>{{id.category_id}}</td>-->
    <!--    <td>{{id.name}}</td>-->
    <!--    <td>{{id.description}}</td>-->
    <!--    <td>{{id.department.name}}</td>-->
    <!--  </tr>-->
    </tbody>
  </table>

</div>
