<div class="row">
  <div class="col p-5">
    <h2>Departments</h2>
    <a href="/departments/add" class="btn  btn-primary m-1">Insert</a>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let id of listDepartment">
        <td>{{id.id}}</td>
        <td>{{id.name}}</td>
        <td>{{id.description}}</td>
        <td>
          <a href="/departments/edit/{{id.id}}" class="btn  btn-sm btn-primary m-1">Update</a>
          <form [formGroup]="formDeptDelete" (ngSubmit)="deleteDepartment(id.id)">
            <button type="submit" class="btn btn-sm btn-danger m-1">Delete</button>
          </form>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col p-5">
    <h2>Category</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Department</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let id of listCategory">
        <td>{{id.category_id}}</td>
        <td>{{id.name}}</td>
        <td>{{id.description}}</td>
        <td>{{id.department.name}}</td>

      </tr>
      </tbody>
    </table>
  </div>
</div>



