<h2>Departments</h2>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let id of listDepartment">
    <td>{{id.id}}</td>
    <td>{{id.name}}</td>
    <td>{{id.description}}</td>
  </tr>
</table>

<h2>Category</h2>
<table class="table table-striped">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Department</th>
  </tr>
  <tr *ngFor="let id of listCategory">
    <td>{{id.category_id}}</td>
    <td>{{id.name}}</td>
    <td>{{id.description}}</td>
    <td>{{id.department.name}}</td>
  </tr>
</table>


